<web-app>
<!-- <servlet>
    <servlet-name>UserServ</servlet-name>
    <servlet-class>UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>UserServ</servlet-name>
    <url-pattern>/UserS</url-pattern>
</servlet-mapping>
 -->
   

<servlet>
    <servlet-name>list</servlet-name>
    <jsp-file>/listoutput.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>ThreadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/ThreadServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>ResServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/ResServlet</url-pattern>
</servlet-mapping>

  <servlet>
        <servlet-name>ThreadServlet</servlet-name>
        <servlet-class>ThreadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThreadServlet</servlet-name>
        <url-pattern>/ThreadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>