<web-app>
<servlet>
    <servlet-name>UserServ</servlet-name>
    <servlet-class>UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>UserServ</servlet-name>
    <url-pattern>/UserS</url-pattern>
</servlet-mapping>

   

<servlet>
    <servlet-name>list</servlet-name>
    <jsp-file>/listoutput.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
</servlet-mapping>

</web-app>